:root {
    --cor-fundo: #3F493E;
    --cor-caixa-fundo: #5D695C;
    --cor-detalhe-secundaria: #768B75;
    --cor-texto-branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    color: var(--cor-texto-branco);
    background-color: var(--cor-fundo);
}

body {
    background-color: var(--cor-fundo);
}

header {
    width: 100%;
    height: auto;
    padding: 10px 5px;
}

main {
    display: flex;
    align-items: center;
}

#section__introducao {
    display: flex;
    width: 60%;
    gap: 10%;
}

#introducao__texto {
    text-transform: uppercase;
}

#navegador {
    display: grid;
    border-radius: 9px;
    background-color: var(--cor-caixa-fundo);
    padding: 12px;
}
