:root {
    --cor-fundo: #3F493E;
    --cor-caixa-fundo: #5D695C;
    --cor-detalhe-secundaria: #768B75;
    --cor-texto-branco: #ffffff;
}

body {
    background-color: var(--cor-fundo);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}
nav a:hover {
    color: #ffd700;
}
